@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ! Animation */
.jiggle {
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for other styles */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 1s; /* Apply the shake animation over 1 second */
}

.gradient {
  background-image: linear-gradient(
    97deg,
    #0096ff,
    #bb64ff 42%,
    #f2416b 74%,
    #eb7500
  );
}

.ci-glow {
  --igradient: linear-gradient(
    115deg,
    #00d0ff,
    #09f 20%,
    #c95eff 42%,
    #ff2569 63%,
    #ff8300 83%,
    #ffb000
  );
  position: absolute;
  z-index: 0;
  inset: 0;
  border: 0;
  filter: blur(1px);
}

.gradient-text {
  transition: opacity 1s ease, transform 2.5s cubic-bezier(0, 0.35, 0.23, 1);
  transition: opacity 1.5s ease, transform 2.5s cubic-bezier(0, 0.35, 0.23, 1);
  background: #fff;
  background-image: linear-gradient(
    90deg,
    #0090f7 8%,
    #ba62fc,
    #f2416b,
    #f55600
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.ci-glow::after {
  --bg-size: calc(100% + 14px);
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: var(--igradient) 50% / var(--bg-size) var(--bg-size);
  border-radius: 28px;
  mask: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)),
    linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}

.ci-glow.ci-glow-2 {
  filter: blur(9px);
}

.ci-glow.ci-glow-2::after {
  border: 8px solid rgba(0, 0, 0, 0);
}

/* Section Logics */

.section-design {
  margin-left: auto;
  margin-right: auto;
  width: 87.5%;
}

/* Typography */

.typography-product-stories-headline {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
}

.typography-product-stories-headline:lang(ar) {
  letter-spacing: 0em;
}

.typography-product-stories-headline:lang(ja) {
  line-height: 1.0875;
  letter-spacing: 0em;
}

.typography-product-stories-headline:lang(ko) {
  line-height: 1.15;
  letter-spacing: 0em;
}

.typography-product-stories-headline:lang(zh) {
  line-height: 1.0875;
  letter-spacing: 0em;
}

.typography-product-stories-headline:lang(th) {
  line-height: 1.35;
}

@media (max-width: 1068px) {
  .typography-product-stories-headline {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
  }

  .typography-product-stories-headline:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-product-stories-headline:lang(ja) {
    line-height: 1.109375;
    letter-spacing: 0em;
  }

  .typography-product-stories-headline:lang(ko) {
    line-height: 1.171875;
    letter-spacing: 0em;
  }

  .typography-product-stories-headline:lang(zh) {
    line-height: 1.09375;
    letter-spacing: 0em;
  }

  .typography-product-stories-headline:lang(th) {
    line-height: 1.34375;
  }
}

@media (max-width: 734px) {
  .typography-product-stories-headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }

  .typography-product-stories-headline:lang(ja) {
    line-height: 1.175;
  }

  .typography-product-stories-headline:lang(ko) {
    line-height: 1.2;
  }

  .typography-product-stories-headline:lang(th) {
    line-height: 1.35;
  }
}

.typography-product-stories-copy {
  font-size: 21px;
  line-height: 1.381002381;
  font-weight: 600;
  letter-spacing: 0.011em;
}

.typography-product-stories-copy:lang(ja) {
  line-height: 1.3334033333;
}

.typography-product-stories-copy:lang(ko) {
  line-height: 1.5238095238;
}

.typography-product-stories-copy:lang(th) {
  line-height: 1.381002381;
}

@media (max-width: 734px) {
  .typography-product-stories-copy {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.022em;
  }

  .typography-product-stories-copy:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-product-stories-copy:lang(ja) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }

  .typography-product-stories-copy:lang(ko) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }

  .typography-product-stories-copy:lang(zh) {
    letter-spacing: 0em;
  }

  .typography-product-stories-copy:lang(th) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }
}

.typography-product-stories-link {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 400;
  letter-spacing: 0.011em;
}

.typography-product-stories-link:lang(ja) {
  line-height: 1.2380952381;
}

.typography-product-stories-link:lang(ko) {
  line-height: 1.2858042857;
}

.typography-product-stories-link:lang(th) {
  line-height: 1.381002381;
}

.typography-product-stories-link:lang(zh) {
  line-height: 1.3334033333;
}

@media (max-width: 734px) {
  .typography-product-stories-link {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 400;
    letter-spacing: -0.022em;
  }

  .typography-product-stories-link:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-product-stories-link:lang(ja) {
    letter-spacing: 0em;
  }

  .typography-product-stories-link:lang(ko),
  .typography-product-stories-link:lang(th),
  .typography-product-stories-link:lang(zh) {
    line-height: 1.3529611765;
    letter-spacing: 0em;
  }
}

.typography-product-stories-bento-copy {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.022em;
}

.typography-product-stories-bento-copy:lang(ar) {
  letter-spacing: 0em;
}

.typography-product-stories-bento-copy:lang(ja) {
  line-height: 1.2353641176;
  letter-spacing: 0em;
}

.typography-product-stories-bento-copy:lang(ko) {
  line-height: 1.2353641176;
  letter-spacing: 0em;
}

.typography-product-stories-bento-copy:lang(zh) {
  letter-spacing: 0em;
}

.typography-product-stories-bento-copy:lang(th) {
  line-height: 1.2353641176;
  letter-spacing: 0em;
}

@media (max-width: 734px) {
  .typography-product-stories-bento-copy {
    font-size: 14px;
    line-height: 1.2857742857;
    font-weight: 600;
    letter-spacing: -0.016em;
  }

  .typography-product-stories-bento-copy:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-product-stories-bento-copy:lang(ja) {
    line-height: 1.3571828571;
    letter-spacing: 0em;
  }

  .typography-product-stories-bento-copy:lang(ko) {
    line-height: 1.4285914286;
    letter-spacing: 0em;
  }

  .typography-product-stories-bento-copy:lang(zh) {
    line-height: 1.3571828571;
    letter-spacing: 0em;
  }

  .typography-product-stories-bento-copy:lang(th) {
    line-height: 1.3571828571;
    letter-spacing: 0em;
  }
}

.typography-product-stories-modal-copy {
  font-size: 19px;
  line-height: 1.2105263158;
  font-weight: 600;
  letter-spacing: 0.012em;
}

.typography-product-stories-modal-copy:lang(ja) {
  line-height: 1.2631578947;
}

.typography-product-stories-modal-copy:lang(ko) {
  line-height: 1.3157894737;
}

.typography-product-stories-modal-copy:lang(th) {
  line-height: 1.3684410526;
}

.typography-product-stories-modal-copy:lang(zh) {
  line-height: 1.3684410526;
}

@media (max-width: 1068px) {
  .typography-product-stories-modal-copy {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -0.022em;
  }

  .typography-product-stories-modal-copy:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-product-stories-modal-copy:lang(ja) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }

  .typography-product-stories-modal-copy:lang(ko) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }

  .typography-product-stories-modal-copy:lang(zh) {
    letter-spacing: 0em;
  }

  .typography-product-stories-modal-copy:lang(th) {
    line-height: 1.2353641176;
    letter-spacing: 0em;
  }
}

.typography-overview-section-headline {
  font-size: 96px;
  line-height: 1.0416666667;
  font-weight: 700;
  letter-spacing: -0.015em;
}

.typography-overview-section-headline:lang(ar) {
  letter-spacing: 0em;
}

.typography-overview-section-headline:lang(ja) {
  letter-spacing: 0em;
}

.typography-overview-section-headline:lang(ko) {
  line-height: 1.1461533333;
  letter-spacing: 0em;
}

.typography-overview-section-headline:lang(zh) {
  letter-spacing: 0em;
}

.typography-overview-section-headline:lang(th) {
  line-height: 1.34375;
}

@media only screen and (max-width: 1068px) {
  .typography-overview-section-headline {
    font-size: 72px;
    line-height: 1.0555555556;
    font-weight: 700;
    letter-spacing: -0.012em;
  }

  .typography-overview-section-headline:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(ja) {
    line-height: 1.0973822222;
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(ko) {
    line-height: 1.1527777778;
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(zh) {
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(th) {
    line-height: 1.3473822222;
  }
}

@media only screen and (max-width: 734px) {
  .typography-overview-section-headline {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 700;
    letter-spacing: -0.003em;
  }

  .typography-overview-section-headline:lang(ar) {
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(ja) {
    line-height: 1.1459933333;
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(ko) {
    line-height: 1.1875;
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(zh) {
    letter-spacing: 0em;
  }

  .typography-overview-section-headline:lang(th) {
    line-height: 1.3334933333;
  }
}

.typography-custom-section-headline {
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 600;
  letter-spacing: 0em;
}

@media only screen and (max-width: 1068px) {
  .typography-custom-section-headline {
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: 0em;
  }
}

@media only screen and (max-width: 734px) {
  .typography-custom-section-headline {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
}

.typography-custom-section-headline-reduced {
  font-size: 48px;
  line-height: 1.0834933333;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.typography-custom-section-headline-reduced:lang(ar) {
  letter-spacing: 0em;
}

.typography-custom-section-headline-reduced:lang(ja) {
  line-height: 1.1459933333;
  letter-spacing: 0em;
}

.typography-custom-section-headline-reduced:lang(ko) {
  line-height: 1.1875;
  letter-spacing: 0em;
}

.typography-custom-section-headline-reduced:lang(zh) {
  letter-spacing: 0em;
}

.typography-custom-section-headline-reduced:lang(th) {
  line-height: 1.3334933333;
}

@media only screen and (max-width: 1068px) {
  .typography-custom-section-headline-reduced {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
}

@media screen and (max-width: 1122px) {
  .padding-axe {
    padding-inline: 22px;
  }
}

@media screen and (min-width: 1123px) {
  .padding-axe {
    padding-inline: 0px;
  }
}

/* Division */

.main-center-div {
  max-width: 1100px;
  padding-inline: 0;
  width: 100%;
}

@media screen and (max-width: 1122px) {
  .main-center-div {
    padding-inline: 22px;
  }
}

@media screen and (min-width: 1123px) {
  .main-center-div {
    padding-inline: 0px;
  }
}

.graphic-center-div {
  max-width: 1400px;
  padding-inline: 0;
  width: 100%;
}

@media screen and (max-width: 1570px) {
  .graphic-center-div {
    width: 87.5%;
  }
}

.card {
  width: 100%;
  --sk-tile-background: rgb(245, 245, 247);
  --sk-tile-border-radius: 28px;
}

.tile-rounded {
  --sk-tile-border-radius-large: var(--sk-tile-border-radius, 18px);
  --sk-tile-border-radius-xlarge: var(
    --sk-tile-border-radius,
    var(--sk-tile-border-radius-large)
  );
  --sk-tile-border-radius-medium: var(
    --sk-tile-border-radius,
    var(--sk-tile-border-radius-large)
  );
  --sk-tile-border-radius-small: var(
    --sk-tile-border-radius,
    var(--sk-tile-border-radius-large)
  );
  --sk-tile-border-radius-xsmall: var(
    --sk-tile-border-radius,
    var(--sk-tile-border-radius-large)
  );
  border-radius: var(--sk-tile-border-radius-large);
}

@media (min-width: 1441px) {
  .tile-rounded {
    border-radius: var(--sk-tile-border-radius-xlarge);
  }
}

@media (max-width: 1068px) {
  .tile-rounded {
    border-radius: var(--sk-tile-border-radius-medium);
  }
}

@media (max-width: 734px) {
  .tile-rounded {
    border-radius: var(--sk-tile-border-radius-small);
  }
}

@media (max-width: 480px) {
  .tile-rounded {
    border-radius: var(--sk-tile-border-radius-xsmall);
  }
}

.typography-custom-label {
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
}

.typography-custom-label:lang(ja) {
  line-height: 1.25;
}

.typography-custom-label:lang(ko) {
  line-height: 1.2916666667;
}

.typography-custom-label:lang(th) {
  line-height: 1.375;
}

.typography-custom-label:lang(zh) {
  line-height: 1.2916666667;
}

@media only screen and (max-width: 1068px) {
  .typography-custom-label {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: 0.011em;
  }

  .typography-custom-label:lang(ja) {
    line-height: 1.2380952381;
  }

  .typography-custom-label:lang(ko) {
    line-height: 1.2858042857;
  }

  .typography-custom-label:lang(th) {
    line-height: 1.381002381;
  }

  .typography-custom-label:lang(zh) {
    line-height: 1.3334033333;
  }
}

.typography-custom-eyebrow-reduced {
  font-size: 21px;
  line-height: 1.1904761905;
  font-weight: 600;
  letter-spacing: 0.011em;
}

.typography-custom-eyebrow-reduced:lang(ja) {
  line-height: 1.2380952381;
}

.typography-custom-eyebrow-reduced:lang(ko) {
  line-height: 1.2858042857;
}

.typography-custom-eyebrow-reduced:lang(th) {
  line-height: 1.381002381;
}

.typography-custom-eyebrow-reduced:lang(zh) {
  line-height: 1.3334033333;
}

@media only screen and (max-width: 1068px) {
  .typography-custom-eyebrow-reduced {
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: 0.012em;
  }

  .typography-custom-eyebrow-reduced:lang(ja) {
    line-height: 1.2631578947;
  }

  .typography-custom-eyebrow-reduced:lang(ko) {
    line-height: 1.3157894737;
  }

  .typography-custom-eyebrow-reduced:lang(th) {
    line-height: 1.3684410526;
  }

  .typography-custom-eyebrow-reduced:lang(zh) {
    line-height: 1.3684410526;
  }
}

.typography-custom-body-reduced-tight {
  font-size: 14px;
  line-height: 1.2857742857;
  font-weight: 600;
  letter-spacing: -0.016em;
}

.typography-custom-body-reduced-tight:lang(ar) {
  letter-spacing: 0em;
}

.typography-custom-body-reduced-tight:lang(ja) {
  line-height: 1.3571828571;
  letter-spacing: 0em;
}

.typography-custom-body-reduced-tight:lang(ko) {
  line-height: 1.4285914286;
  letter-spacing: 0em;
}

.typography-custom-body-reduced-tight:lang(zh) {
  line-height: 1.3571828571;
  letter-spacing: 0em;
}

.typography-custom-body-reduced-tight:lang(th) {
  line-height: 1.3571828571;
  letter-spacing: 0em;
}

.typography-custom-tile-subhead-large {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

.typography-custom-tile-subhead-large:lang(ja) {
  line-height: 1.21875;
}

.typography-custom-tile-subhead-large:lang(ko) {
  line-height: 1.21875;
}

.typography-custom-tile-subhead-large:lang(th) {
  line-height: 1.375;
}

.typography-custom-tile-subhead-large:lang(zh) {
  line-height: 1.21875;
}

@media only screen and (max-width: 1068px) {
  .typography-custom-tile-subhead-large {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
  }

  .typography-custom-tile-subhead-large:lang(ko) {
    line-height: 1.25;
  }

  .typography-custom-tile-subhead-large:lang(th) {
    line-height: 1.3928571429;
  }

  .typography-custom-tile-subhead-large:lang(zh) {
    line-height: 1.25;
  }
}

@media only screen and (max-width: 734px) {
  .typography-custom-tile-subhead-large {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
  }

  .typography-custom-tile-subhead-large:lang(ja) {
    line-height: 1.21875;
  }

  .typography-custom-tile-subhead-large:lang(ko) {
    line-height: 1.21875;
  }

  .typography-custom-tile-subhead-large:lang(th) {
    line-height: 1.375;
  }

  .typography-custom-tile-subhead-large:lang(zh) {
    line-height: 1.21875;
  }
}

/* Section Sub Heading */

.typography-overview-section-copy {
  color: #86868b;
}

.typography-overview-section-copy strong {
  color: #000;
}

html.text-zoom .typography-overview-section-copy {
  margin-bottom: 50px;
}

.typography-overview-section-copy {
  font-size: 21px;
  line-height: 1.381002381;
  font-weight: 600;
  letter-spacing: 0.011em;
}

.typography-overview-section-copy:lang(ko) {
  line-height: 1.5238095238;
}

.typography-overview-section-copy:lang(th) {
  line-height: 1.381002381;
}

.text-black-shadow {
  text-shadow: 2px 2px 40px #000000; /* Black shadow with blur */
}

.absolute-center {
  position: absolute; /* Equivalent to 'absolute' */
  top: 50%; /* Equivalent to 'top-1/2' */
  left: 50%; /* Equivalent to 'left-1/2' */
  transform: translate(
    -50%,
    -50%
  ); /* Combines both translate-y and translate-x */
}

/* Footer */

.footer-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Transition */

.transition {
  transition: all 0.3s ease-in-out; /* Combines all properties with duration and timing function */
}
